.controlsRoot {
    border-right: solid;
    padding-right: 1rem;
}

.controlsTitle {
    padding-bottom: 1rem;
}

.selectPackageContainer {
    display: flex;
    justify-content: space-between;
    margin: .3rem 0;
}

.selectPackageContainer .version {
    margin-left: 1.5rem;
    border: none;
    cursor: pointer;
}

.selectPackageContainer .name {
    white-space: nowrap;
    max-width: fit-content;
    color: var(--ifm-font-color-base);
    padding-top: .15rem;
}

.resetFilterContainer {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}

.resetButton {
    border: none;
    padding: .75rem 1.5rem;
    border-radius: .2rem;
    background: rgba(40, 136, 176, .9);
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}

html[data-theme='dark'] .resetButton {
    background: rgba(252, 197, 33, .9);
}

.selectPackageContainer .name:hover {
    text-decoration: .1rem underline var(--ifm-color-primary);
}

.active {
    background: rgba(40,136,176,.7);
    padding: 0 0 0 .2em;
    border-radius: .7em 0;
}

.active .name {
    color: #fff;
}

.active .version {
    color: #fff;
    background: rgba(85,101,115,.5);
    border-radius: .7em 0;
    margin: 0;
}
