.link:before {
    display: block;
    content: "";
    height: 65px;
    margin: -65px 0 0;
}

.title a {
    color: var(--ifm-font-color-base);
}

.descriptionRoot {
    margin: .5rem 0;
}

/*Packages*/
.packagesContainer {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    max-width: 50%;
}

.packageTagBase {
    margin: .1rem;
    padding: .1rem .7rem;
    max-width: fit-content;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    white-space: nowrap;
}

.packageTagBase span {
    cursor: pointer;
}

.version {
    margin-left: .4rem;
}

.packageTagColorBroken {
    background: rgba(109, 110, 113, .2);
    color: rgb(109, 110, 113);
    text-decoration: line-through;
}

.packageTagColor--1 {
  background: rgba(109, 110, 113, .2);
  color: rgb(109, 110, 113);
}

.packageTagColor-0 {
    background: rgba(191, 73, 4, .1);
    color: rgb(191, 73, 4);
}

.packageTagColor-1 {
    background: rgba(27, 162, 180, .1);
    color: rgb(27, 162, 180);
}

.packageTagColor-2 {
    background: rgba(16, 117, 187, .1);
    color: rgb(16, 117, 187);
}

.packageTagColor-3 {
    background: rgba(42, 148, 70, .1);
    color: rgb(42, 148, 70);
}

.packageTagColor-4 {
    background: rgba(245, 136, 31, .1);
    color: rgb(245, 136, 31);
}

.packageTagColor-5 {
    background: rgba(200, 16, 47, .1);
    color: rgb(200, 16, 47);
}

.packageTagColor-6 {
    background: rgba(179, 62, 150, .1);
    color: rgb(179, 62, 150);
}

.packageTagColor-7 {
    background: rgba(85, 101, 115, .1);
    color: rgb(85, 101, 115);
}

.packageTagColor-8 {
    background: rgba(89, 105, 153, .1);
    color: rgb(89, 105, 153);
}

.packageTagColor-9 {
    background: rgba(140, 79, 43, .1);
    color: rgb(140, 79, 43);
}

.packageTagColor-10 {
    background: rgba(88, 115, 48, .1);
    color: rgb(88, 115, 48);
}

.packageTagColor-11 {
    background: rgba(106, 133, 57, 0.1);
    color: rgba(63, 139, 1, 0.836);
}

.packageTagColor-12 {
    background: rgba(153, 79, 163, 0.1);
    color: rgb(152, 9, 165);
}

.packageTagColor-13 {
    background: rgba(76, 108, 167, 0.1);
    color: rgb(29, 52, 129);
}

.packageTagColor-14 {
  background: rgba(153, 187, 226, .1);
  color: rgb(119, 144, 191);
}

.packageTagColor-15 {
    background: rgba(128, 70, 37, 0.1);
    color: rgb(117, 13, 13);
}

.packageTagColor-16 {
  background: rgba(128, 70, 37, 0.1);
  color: rgb(217, 13, 25);
}
